<head>
    <meta charset="UTF-8">
    
    {{#if title}}
        <title>{{title}}</title>
        <meta property="og:title" content="{{title}}">
    {{else}}
        <title>Cidade Ciclável</title>
        <meta property="og:title" content="Cidade Ciclável">
    {{/if}}

    <meta property="og:site_name" content="Cidade Ciclável" />
    
    <meta name="description" content="Veja os detalhes e avaliações sobre este estacionamento para bicicleta{{#if address}} na {{address}}{{/if}}.">
    <meta property="og:description" content="Veja os detalhes e avaliações sobre este estacionamento para bicicleta{{#if address}} na {{address}}{{/if}}.">

    {{#if photo}}
        <meta property="og:image" content="{{photo}}">
    {{else}}
        <meta property="og:image" content="https://www.bikedeboa.com.br/fb.png">
    {{/if}}

    {{#if canonicalUrl}}
        <link rel="canonical" href="{{canonicalUrl}}" />
        <meta property="og:url" content="{{canonicalUrl}}" /> 
    {{/if}}
    
    <meta name="keywords" content="mapa bicicleta bici biciletario seguranca estacionamento estacionar deixar prender ulock colaborativo cidade ciclável portugal mubi mobilidade urbana">

    <meta property="fb:app_id" content="2007305346231830"/>
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.bikedeboa.com.br/fb.png" />
    <meta name="google-site-verification" content="{{google_verification_id}}" />

    <!-- Progressive Webapp Manifest -->
    <link rel="manifest" href="/manifest.json" type="application/manifest+json">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=m2dAvrr4RB">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=m2dAvrr4RB" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=m2dAvrr4RB" sizes="16x16">

    <!-- Chrome mobile nav color -->
    <meta name="theme-color" content="#fff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- iOS fullscreen experience -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="bike de boa">

    <!-- Google Optimize (MVT Testing) -->
    <!-- <style>.async-hide { opacity: 0 !important} </style>
        <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date; h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')}; (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; })(window,document.documentElement,'async-hide','dataLayer',4000, {'GTM-MCCV34X':true});</script>  -->

    <!-- GitHub Buttons -->
    <script defer async src="https://buttons.github.io/buttons.js"></script>


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.5.0/sweetalert2.min.css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.2/sweetalert2.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.gallery.min.css"/> -->

    <link rel="stylesheet" type="text/css" href="/css/main.min.css" />


    <!-- Polyfill for ES6 Promises for IE11, UC Browser and Android browser support -->
    <script defer src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>

    <!-- JS | deferred -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.5.0/sweetalert2.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/1.16.1/hello.all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.ui.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.js"></script>
    <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.2/sweetalert2.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.gallery.min.js"/> -->
    <!-- <script defer src="/lib/countUp.min.js"></script> -->

    <!-- JS | Main -->
    <script defer src="/js/app.min.js"></script>

    <!-- JS | async (not needed in bootup) -->
    <script defer async src="/service-worker-registration.js"></script>
</head>