<!-- User Contributions View -->
<div id="contributionsModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title view-name">Contribuições</h1>
                </div> 

                <div class="modal-body">
                {{#if profile}} 
                    <h2>
                    {{#if profile.picture}}<img alt="" src="{{profile.picture}}">{{/if}} Oi <b>{{profile.first_name}}</b> :)
                    </h2> 
                    {{#if isAdmin}}
                    <p class="you-are-admin">
                        Uhul! Você é <b>admin</b> :D
                    </p>
                    {{/if}}
                {{/if}}

                {{#ifCond nreviews '&&' nplaces}}
                    <div class="big-numbers"> 
                    <a class="big-numbers--col unstyled-link" href="#avaliacoes">
                        <div class="big-numbers--number">{{{nreviews}}}</div>
                        <div class="big-numbers--label">avaliações</div>
                    </a>
                    <a class="big-numbers--col unstyled-link" href="#bicicletarios">
                        <div class="big-numbers--number">{{{nplaces}}}</div>
                        <div class="big-numbers--label">bicicletários</div>
                    </a>
                    </div>
                {{/ifCond}}

                <hr>

                <h3 id="avaliacoes">Avaliações</h3>
                <ul> 
                    {{#each reviews}}
                    <li>
                        <button class="go-to-place-btn" data-id="{{placeObj.id}}">
                        <span class="go-to-place-btn--title">{{placeObj.text}}</span>
                        <span class="go-to-place-btn--rating" data-color="{{color}}">
                            {{{ratingContent}}}
                        </span> 
                        <span class="go-to-place-btn--daysago">
                            <!-- <span class="glyphicon glyphicon-time"></span>  -->{{createdTimeAgo}}
                        </span> 
                        </button>
                    </li>
                    {{else}}
                    <i>Nenhuma avaliação feita ainda.</i>
                    {{/each}}
                </ul>

                <hr>

                <h3 id="bicicletarios">Bicicletários</h3>
                <ul> 
                    {{#each places}}
                    <li>
                        <button class="go-to-place-btn" data-id="{{id}}">
                        <span class="go-to-place-btn--title">{{text}}</span>
                        <span class="go-to-place-btn--daysago">
                            <!-- <span class="glyphicon glyphicon-time"></span>  -->{{createdTimeAgo}} · {{views}} visualizações
                            <!-- · {{nreviews}} visualizações -->
                        </span> 
                        </button>
                    </li>
                    {{else}}
                    <i>Nenhum bicicletário criado ainda.</i>
                    {{/each}}
                </ul>

                </div>
            </div>
        </div>
    </div>
</div>