<!-- User Contributions View -->
<div id="contributionsModal" data-keyboard="false" class="modal" tabindex="-1">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title view-name">Contribuições</h1>
                </div> 

                <div class="modal-body">
                    {{#if profile}} 
                        <h2>
                            {{#if profile.picture}}<img alt="" src="{{profile.picture}}">{{/if}} Oie <b>{{profile.first_name}}</b> :)
                        </h2>

                        {{#if isAdmin}}
                            <p class="you-are-admin">
                                Uhul! Você é <b>admin</b> :D
                            </p>
                        {{/if}}

                        <p>
                            <button class="logoutBtn">
                                <img class="svg-icon" src="/img/icon_logout.svg"> Deslogar
                            </button>
                        </p>
                    {{/if}}

                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">
                                Avaliações <span class="badge">{{{nreviews}}}</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#places" aria-controls="places" role="tab" data-toggle="tab">
                                Bicicletários <span class="badge">{{{nplaces}}}</span>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="reviews">
                            <ul>
                            {{#each reviews}}
                                <li>
                                    <button class="go-to-place-btn" data-id="{{placeObj.id}}">
                                        <span class="go-to-place-btn--daysago">
                                            <!-- <span class="glyphicon glyphicon-time"></span>  -->{{createdTimeAgo}}
                                        </span>
                                        <span class="go-to-place-btn--title">{{placeObj.text}}</span>
                                        <span class="go-to-place-btn--rating" data-color="{{color}}">
                                            {{{ratingContent}}}
                                        </span>
                                    </button>
                                </li>
                                {{else}}
                                    <i>Nenhuma avaliação feita ainda.</i>
                            {{/each}}
                            </ul>
                        </div>
                        
                        <div role="tabpanel" class="tab-pane fade" id="places">
                            <ul>
                            {{#each places}}
                                <li>
                                    <button class="go-to-place-btn" data-id="{{id}}">
                                        <span class="go-to-place-btn--daysago">
                                            <!-- <span class="glyphicon glyphicon-time"></span>  -->
                                            {{createdTimeAgo}}
                                        </span>
                                        <span class="go-to-place-btn--title">{{text}}</span>
                                        <span class="go-to-place-btn--views">
                                            {{views}} visualizações
                                        </span>
                                    </button>
                                </li>
                                {{else}}
                                <i>Nenhum bicicletário criado ainda.</i>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>