<!-- View Details Modal -->
<section itemscope itemtype="http://schema.org/ParkingFacility">
    {{#if photoUrl}}
        <section class="photo-container hasImage loading">
            <a href="#" data-featherlight="{{photoUrl}}">
                <img alt="" src="{{photoUrl}}" itemprop="image"/>
            </a>
        </section>
    {{else}}
        <section class="photo-container photo-input--container loading">
            <img class="photoInputBg" alt="" src="{{streetViewImgUrl}}"/>
        
            <div class="photo-input--label photo-input--edit-mode editPlaceBtn">
                <div class="photo-input--calltoaction">
                    <img src="/img/icon_photo_white.svg" alt="">
                    <div> 
                        Adicionar foto
                    </div>
                </div>
            </div>
        </section>
    {{/if}}

    <section class="top-toolbar">
    <meta itemprop="map" content="{{{gmapsRedirectUrl}}}">
    <a href="{{{gmapsRedirectUrl}}}" target="_blank" rel="noopener" class="toolbar-item directionsBtn unstyled-link">
        <img alt="" class="toolbar-item-icon" src="/img/icon_route.svg">
        <label>Como chegar</label>
    </a>

    <!-- <button class="toolbar-item openReviewPanelBtn" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Avalie este bicicletário e ajude outros usuários a saber se ele é de boa.">
        <img alt="" class="toolbar-item-icon" src="/img/icon_review.svg">
        <label>Avaliar</label> 
    </button> -->

    <button class="toolbar-item shareBtn" tabindex="0">
        <img alt="" class="toolbar-item-icon" src="/img/icon_share.svg">
        <label>Compartilhar</label>
    </button>

        <button class="editPlaceBtn toolbar-item">
            <img alt="" class="toolbar-item-icon" src="/img/icon_edit.svg">
            <label>Editar</label>
        </button>
        {{#if canDelete}}
            <button class="deletePlaceBtn toolbar-item">
                <img alt="" class="toolbar-item-icon" src="/img/icon_delete.svg">
                <label>Excluir</label>
            </button>
        {{/if}}
    </section>

    <div class="modal-body">
        <section id="placeDetails_heading" class="title title-icon {{pinColor}} {{#ifCond isAdmin '&&!' title}} missing-info {{/ifCond}}">
            {{#if title}}
            <h1 class="view-name" itemprop="name">{{title}}</h1>
            {{else}}
            <h1 style="font-style: italic;" itemprop="name">Sem nome</h1>
            {{/if}}
        </section>

        <section class="info">
            {{#unless noIsCoveredData}}
            <div itemprop="amenityFeature" itemscope itemtype="http://schema.org/LocationFeatureSpecification" class="{{#ifCond isAdmin '&&' noIsCoveredData}} missing-info {{/ifCond}}">
                <meta itemprop="name" content="Cobertura">
                {{#if isCovered}}
                    <img alt="" src="/img/icon_covered.svg"/>
                    <div class="icon-label" itemprop="value">
                    Coberto
                    </div>
                {{else}}
                    <img alt="" src="/img/icon_uncovered.svg"/>
                    <div class="icon-label" itemprop="value">
                    Não coberto
                    </div> 
                {{/if}}
            </div>
            {{else}}
            <div class="missing-info-container">
                <div class="icon-label">
                    É coberto?
                    <div>
                        <button class="editPlaceBtn link-button">
                        Responder
                        </button>
                    </div>
                </div>
            </div>
            {{/unless}}

            {{#unless noIsPublicData}}
                <div class="{{#ifCond isAdmin '&&' noIsPublicData}} missing-info {{/ifCond}}" itemprop="amenityFeature" itemscope itemtype="http://schema.org/LocationFeatureSpecification">
                <meta itemprop="name" content="Acesso">
                {{#if isPublic}}
                    <img alt="" src="/img/icon_public.svg"/>
                    <div class="icon-label">
                        <span itemprop="value">Público</span>
                        <a id="public-access-help-tooltip" class="glyphicon glyphicon-question-sign help-tooltip-trigger" data-html="true" data-toggle="tooltip" data-placement="auto" role="button" tabindex="0"
                            data-title="<h2>Bicicletário Público</h2>
                            <p>Pode ser usado em qualquer horário por qualquer pessoa.</p>
                            <p>Normalmente está em espaço público, como calçadas ou parques.</p>
                            <p>Pode ter sido instalado por um estabelecimento comercial ou não.</p>"></a>
                    </div>
                {{else}}
                    <img alt="" src="/img/icon_private.svg"/>
                    <div class="icon-label">
                        <span itemprop="value">Privado</span>
                        <a id="private-access-help-tooltip" class="glyphicon glyphicon-question-sign help-tooltip-trigger" data-html="true" data-toggle="tooltip" data-placement="auto" role="button" tabindex="0"
                            data-title="<h2>Bicicletário Privado</h2>
                            <p>O uso é restrito para clientes, funcionários ou moradores e este acesso é controlado.<p>"></a> 
                        </div> 
                    {{/if}}
                </div>
            {{else}}
            <div class="missing-info-container">
                <div class="icon-label">
                    Como é o acesso?
                    <div>
                        <button class="editPlaceBtn link-button">
                        Responder
                        </button>
                    </div>
                </div>
            </div>
            {{/unless}}

            {{#if structureTypeLabel}}
            <div class="{{#ifCond isAdmin '&&!' structureTypeLabel}} missing-info {{/ifCond}}" itemprop="amenityFeature" itemscope itemtype="http://schema.org/LocationFeatureSpecification">
                {{#if structureTypeIcon}}
                    <img alt="" id="placeDetails_structureType_icon" src="{{structureTypeIcon}}"/>
                {{/if}}
                <div class="icon-label" id="placeDetails_structureType"> 
                        <meta itemprop="name" content="Tipo">
                        <span itemprop="value">{{{structureTypeLabel}}}</span>

                        {{#ifCond structureTypeCode '===' 'uinvertido'}}
                            <a data-type="uinvertido" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>U Invertido</h2>
                                <p>Em forma de U ou semi-círculo, normalmente é uma estrutura reforçada e bem fixada no chão.</p>
                                <p>Dá pra prender a bicicleta de várias formas, mas prefira sempre <b>prender pelo quadro da bicicleta</b>.</p>
                                <p>É frequentemente considerado o melhor tipo de bicicletário, oferece segurança e estabilidade e permite usar trava U-lock.</p>
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                            "></a>
                        {{/ifCond}}
                        {{#ifCond structureTypeCode '===' 'deroda'}}
                            <a data-type="deroda" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Entorta Roda</h2>
                                <p>Pode ter várias formas. Os mais comuns são pequenos triângulos ou semi-círculos.</p>
                                <p>A qualidade da estrutura varia bastante. Alguns são frágeis e mal fixados no chão, outros são mais rígidos e confiáveis.</p>
                                <p>A menos que se use uma trava flexível, normalmente só dá pra prender a bicicleta pela roda. Alguns destes bicicletários não oferecem boa estabilidade e podem danificar a roda, os raios ou o câmbio traseiro, o que lhes rendeu o apelido carinhoso de 'entorta-roda' entre os ciclistas.</p>
                                <p>Este tipo economiza espaço, mas nem sempre é o mais prático ou mais seguro.</p>
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                            "></a>
                        {{/ifCond}}
                        {{#ifCond structureTypeCode '===' 'trave'}}
                            <a data-type="trave" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Poste</h2>
                                <p>Normalmente um poste de luz ou placa de trânsito.</p>
                                <p>Dá pra prender a bicicleta de varias formas, mas o melhor é <b>prender pelo quadro da bicicleta</b> e o mais próximo possível do poste. Alguns problemas comuns são deixar uma folga e a trava correr no poste e a bicicleta cair no chão. Cuidado também pra não prender em um poste baixo onde a bicicleta possa ser roubada passando por cima do poste.</p>
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                            "></a> 
                        {{/ifCond}}
                        {{#ifCond structureTypeCode '===' 'suspenso'}}
                            <a data-type="suspenso" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Suspenso</h2> <p> Também conhecido como 'varal', normalmente lembra uma goleira com ganchos para pendurar a bicicleta. Às vezes se trata de simples ganchos na parede. </p> <p> Cuidado que alguns destes só permitem prender a bicicleta pela roda, a menos que se use uma trava flexível. Às vezes dá pra prender o quadro da bicicleta próximo aos pilares. </p> <p> Este tipo economiza espaço, mas nem sempre é o mais prático ou mais seguro. Pessoas com um pouco de dificuldade motora, como pessoas de mais idade ou muito jovens, podem ter dificuldade de usá-lo. </p>
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                                "></a>
                        {{/ifCond}}
                        {{#ifCond structureTypeCode '===' 'grade'}}
                            <a data-type="grade" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Grade/Vedação</h2>
                                <p>Normalmente não é bicicletário, mas algo da rua que é usado pra isso. Há muitas variações: alguns são rígidos e bem fixados, já outros são bem menos confiáveis.</p>
                                <p>Apesar de não ser feito pra isso, às vezes é até mais seguro do que um bicicletário de roda, por exemplo. Dá pra prender a bicicleta de formas variadas, inclusive com U-lock, e normalmente oferece boa estabilidade.</p>
                                <p>Prefira sempre <b>prender pelo quadro da bicicleta<b>.</p>
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                            "></a>
                        {{/ifCond}}
                        {{#ifCond structureTypeCode '===' 'other'}}
                            <a data-type="other" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Outro</h2>
                                <p> Alguns bicicletários são diferentões e não se encaixam em nenhuma categoria. Alguns nem foram feitos pra serem bicicletários
                                de fato, mas acabam sendo usados assim.</p> 
                                <p>Lembre de verificar a foto e as avaliações de outros usuários, e na hora olhe bem para conferir a qualidade da estrutura.</p>
                                <p>Sempre prenda sua bicicleta pelo quadro e o mais próximo possível desse objeto.</p> 
                                <p><a href='#' class='open-guide-btn external-link'>Guia de tipos de bicicletário</a></p>
                            "></a>
                        {{/ifCond}}  
                        {{#ifCond structureTypeCode '===' 'paliteiro'}}
                            <a data-type="paliteiro" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Paliteiro</h2>
                                <p> É um tipo de bicicletário difícil de identificar, pois pode parecer um simples poste. Além disso ele deixa a bicicleta instável
                                e possui um furinho para passar a trava onde nem todas as travas passam. </p>
                            "></a>
                        {{/ifCond}}  
                        {{#ifCond structureTypeCode '===' 'pente'}}
                            <a data-type="pente" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Pente</h2>
                                <p> Este é um tipo característico da orla do Rio de Janeiro. Pode parecer bonito à primeira vista por seu design único, mas é
                                inseguro e confuso, além de caríssimo.</p>
                            "></a> 
                        {{/ifCond}}  
                        {{#ifCond structureTypeCode '===' 'pescocinho'}}
                            <a data-type="pescocinho" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Pescocinho</h2>
                                <p>Possui uma estrutura bem reforçada e possibilita prender a bike pelo quadro, o que o torna um bicicletário seguro. Porém
                                nao é fácil de entender, além de não suportar bicicletas com cestinhas ou outros acessórios.</p>
                            "></a>
                        {{/ifCond}}  
                        {{#ifCond structureTypeCode '===' 'm'}}
                            <a data-type="m" class="glyphicon glyphicon-question-sign help-tooltip-trigger" role="button" tabindex="0" data-html="true" data-toggle="tooltip" data-placement="auto"
                                data-title="<h2>Tipo M</h2>
                                <p>Possui uma estrutura bem reforçada e possibilita prender a bike pelo quadro, o que o torna um bicicletário seguro. Porém
                                seu desenho não deixa claro qual é o sentido correto para estacionar, o que pode gerar confusão entre ciclistas.</p>
                                <p>A forma mais segura é prender a bike junto ao bicicletário, estabilizando-a em mais de um ponto.</p>
                            "></a>
                        {{/ifCond}}  
                </div>
            </div>
            {{else}}
            <div class="missing-info-container">
                <div class="icon-label"> 
                    Que tipo é?
                    <div>
                        <button class="editPlaceBtn link-button">
                        Responder
                        </button>
                    </div>
                </div>
            </div>
            {{/if}} 
        </section>

        <hr>

        <section class="review {{#ifCond isAdmin '&&!' average}} missing-info {{/ifCond}}" {{#unless average}} style="text-align: center;"{{/unless}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="{{average}}"/>
            <meta itemprop="reviewCount" content="{{reviews}}"/>

            <div>
                {{#if savedRating}}
                    <div class="savedRating"> 
                        <h5>Tua avaliação:</h5> 

                        <div>
                            <img alt="" src="{{userThumbUrl}}" />
                            
                            <span data-color="{{color}}">
                                {{{savedRating}}}
                                {{{savedRatingStars}}}
                            </span>
                            
                            <button class="ghost openReviewPanelBtn">Editar</button>
                        </div>
                    </div>
                {{/if}}
                
                {{#if numReviews}}
                    <div class="numreviews">{{numReviews}}</div>
                {{/if}}

                {{#unless average}}
                    <button class="ghost openReviewPanelBtn" tabindex="0" data-toggle="tooltip" data-trigger="manual" data-placement="auto" title="Avalie este bicicletário e ajude outros usuários a saber se ele é de boa! ;)">Avaliar</button>
                {{/unless}}

                <div class="rating-display-container" {{#if pinColor}}data-color={{pinColor}}{{/if}}>
                    {{#if average}}
                        <span class="average">{{average}}</span>

                        <fieldset id="ratingDisplay" class="rating disabled">
                            <input disabled type="radio" id="placeDetails_star5" name="placeDetails_rating" value="5" />
                            <label class="full-star" data-value="5" for="placeDetails_star5"></label> 
                            <input disabled type="radio" id="placeDetails_star4" name="placeDetails_rating" value="4" />
                            <label class="full-star" data-value="4" for="placeDetails_star4"></label>
                            <input disabled type="radio" id="placeDetails_star3" name="placeDetails_rating" value="3" />
                            <label class="full-star" data-value="3" for="placeDetails_star3"></label>
                            <input disabled type="radio" id="placeDetails_star2" name="placeDetails_rating" value="2" />
                            <label class="full-star" data-value="2" for="placeDetails_star2"></label>
                            <input disabled type="radio" id="placeDetails_star1" name="placeDetails_rating" value="1" />
                            <label class="full-star" data-value="1" for="placeDetails_star1"></label>
                        </fieldset>
                        
                        {{#unless savedRating}}
                        <button id="new-review-btn" class="ghost openReviewPanelBtn">Avaliar</button>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
 
            {{#if average}}
                {{#if tags}}
                    <div class="tagsContainer">
                        {{#each tags}}
                            <div class="tagDisplay" style="opacity: {{opacity}}">
                                <div>
                                    <img alt="" class="svg-icon tag-icon" src="/img/icon_tag_{{englishName}}.svg" />
                                </div>
                                <div>
                                    <span class="{{#if isEmpty}}tag-empty{{/if}}">{{name}}</span>
                                    <span class="tag-count" style="display: block; {{#if isEmpty}}opacity: 0;{{/if}}">{{count}}%</span>
                                </div>
                                {{!-- <span class="tag-count">{{count}}</span> --}}
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <div class="tagsContainer loading" style="position: relative;">
                        Carregando... 
                    </div>
                {{/if}}
            {{/if}}
        </section>

        <hr>

        <section class="extraInfo">
        <ul class="details-list">
            {{#if description}}
            <li>
                <img class="details-list-icon svg-icon" alt="" src="/img/icon_info.svg" style="opacity: .5;">
                <div itemprop="description">{{{description}}}</div>
            </li>
            {{/if}}

            {{#if createdTimeAgo}}
            <li>
                <img class="details-list-icon svg-icon" alt="" src="/img/icon_user.svg"> 
                {{#if author}}
                    <div>Adicionado por <b>{{{author}}}</b> há <b>{{{createdTimeAgo}}}</b></div>
                {{else}}
                    <div>
                        Adicionado há <b>{{{createdTimeAgo}}}</b>.

                        {{#if dataSourceName}}
                            Importado de <a href="#" class="openDataSourceDialog external-link"> {{dataSourceName}}</a>
                        {{/if}}
                    </div>
                {{/if}}
            </li>
            {{/if}}

            {{#unless noIsPaidData}}
                <li>
                    <img class="details-list-icon svg-icon" alt="" src="/img/icon_money.svg"> 
                    <div> {{{isPaid}}} </div>
                </li>
            {{/unless}}

            {{#if slots}}
                <li>
                    <img class="details-list-icon svg-icon" alt="" src="/img/icon_bike.svg">
                    <div> {{{slots}}} lugares </div>
                </li>
            {{/if}}

            {{#if views}} 
            <li>
                <img class="details-list-icon svg-icon" alt="" src="/img/icon_views.svg">
                <div>{{{views}}} visualizações</div>
            </li>
            {{/if}}


            <li>
            <img class="details-list-icon svg-icon" alt="" src="/img/icon_pin.svg">
            <div itemprop="address">{{{address}}}</div>
            </li>
        </ul>
        
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{lat}}" />
            <meta itemprop="longitude" content="{{lng}}" />
        </div>
        </section>

        {{#if mapStaticImg}}
            <section class="minimap-container">
                <img alt="" class="minimap close-modal" src="{{mapStaticImg}}"></img>
            </section>
        {{/if}}

    </div>

    <div class="modal-footer">
    {{#unless savedRating}}
        <section class="rating-input-container">
            <h2>
                {{#if userThumbUrl}}
                    <div>
                        <img src="{{userThumbUrl}}" class="avatar" alt=""/>
                    </div>
                {{/if}}
                Dê sua nota para este bicicletário:
            </h2>

            <fieldset class="rating rating-big empty">
                <input disabled type="radio" id="placeDetails_star5_input" name="placeDetails_rating_input" value="5" />
                <label class="full-star" data-value="5" for="placeDetails_star5_input"></label> 
                <input disabled type="radio" id="placeDetails_star4_input" name="placeDetails_rating_input" value="4" />
                <label class="full-star" data-value="4" for="placeDetails_star4_input"></label>
                <input disabled type="radio" id="placeDetails_star3_input" name="placeDetails_rating_input" value="3" />
                <label class="full-star" data-value="3" for="placeDetails_star3_input"></label>
                <input disabled type="radio" id="placeDetails_star2_input" name="placeDetails_rating_input" value="2" />
                <label class="full-star" data-value="2" for="placeDetails_star2_input"></label>
                <input disabled type="radio" id="placeDetails_star1_input" name="placeDetails_rating_input" value="1" />
                <label class="full-star" data-value="1" for="placeDetails_star1"></label>
            </fieldset>
        </section>
    {{/unless}}
    </div>
</section>